<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application">

    <application
        android:name=".bookDB"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/at1">
        <activity android:name=".Main_3a"></activity>
        <activity android:name=".Main_4_1_1" />
        <activity
            android:name=".Main_5"
            android:label="@string/app_a5"
            android:theme="@style/at5" />
        <activity android:name=".Main_3_1_2_4a_3" />
        <activity
            android:name=".Main_4"
            android:label="@string/app_a4"
            android:theme="@style/at4" />
        <activity
            android:name=".Main_3"
            android:label="@string/app_a3"
            android:theme="@style/at3" />
        <activity android:name=".Main_0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_1" />
        <activity
            android:name=".Main_2"
            android:label="@string/app_a2"
            android:parentActivityName=".Main_3_1_2_4a_3"
            android:theme="@style/at2" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".Main_3_1_2_4a_3" />
    </application>

</manifest>